body {
    background-color: skyblue;
}

#intro {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: skyblue;
    display: block;
}

.mountain {
    position: absolute;
    bottom: 12.5vh;
    height: 25vh;
    width: 25vh;
    background-color: darkgray;
    transform: rotate(45deg);
}

#mountain1 {
    left: 2.6vw;
}

#mountain2 {
    left: 15vw;
}

#mountain3 {
    left: 25vw;
}

#mountain4 {
    left: 40vw;
}

#mountain5 {
    left: 45vw;
}

#mountain6 {
    left: 57vw;
}

#mountain7 {
    left: 70vw;
}

#mountain8 {
    left: 84.8vw;
}

#ground {
    position: absolute;
    bottom: 0;
    height: 25vh;
    width: 100vw;
    background-color: forestgreen;
}

#warriorIntro {
    position: absolute;
    top: 55px;
    height: 50px;
    width: 50px;
    left: 55vw;
    border-radius: 50%;
    background-color: rgb(255, 0, 85);
    border: solid black 0.5px;
    animation: moove 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes moove {
    0% {
        left: 0
    }
    ;
    100% {
        left: 50%
    }
    ;
}

#warrior2Intro {
    position: absolute;
    bottom: 55px;
    height: 50px;
    width: 50px;
    right: 55vw;
    border-radius: 50%;
    background-color: rgb(59, 59, 255);
    border: solid black 0.5px;
    animation: moove2 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes moove2 {
    0% {
        right: 0
    }
    ;
    100% {
        right: 50%
    }
    ;
}

#tittel {
    position: relative;
    top: 0;
    text-align: center;
    font-size: 4em;
    font-family: fantasy;
    animation: scale 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes scale {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        color: orangered;
    }
    25% {
        transform: scale(1.125);
        -webkit-transform: scale(1.125);
        color: yellow;
    }
    50% {
        transform: scale(1.25);
        -webkit-transform: scale(1.25);
        color: Green;
    }
    75% {
        transform: scale(1.125);
        -webkit-transform: scale(1.125);
        color: blue;
    }
    100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        color: red;
    }
}

#start {
    position: relative;
    text-align: center;
}

.button {
    font-size: 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    padding: 16px 30px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    font-family: fantasy;
}

.button:hover {
    background-color: white;
    color: skyblue;
    border: 2px solid skyblue;
}

#footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100vw;
    color: white;
}

#board {
    position: absolute;
    left: calc(50vw - 400px);
    width: 800px;
    height: 600px;
    border: solid black 5px;
    background: url("map1.png");
    display: none;
}

#warrior {
    position: absolute;
    top: 55px;
    height: 50px;
    width: 50px;
    left: 55px;
    border-radius: 50%;
    background-color: rgb(255, 0, 85);
    border: solid black 0.5px;
}

#warrior_mage {
    position: absolute;
    background-color: whitesmoke;
    height: 10px;
    width: 30px;
    left: 10px;
    top: 20px;
    border-radius: 50%;
}

#warrior_head {
    position: absolute;
    top: -20px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(255, 0, 85);
    left: calc(25px - 12.5px);
    border: solid black 0.5px;
}

#warrior_mouth {
    position: absolute;
    bottom: 3px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: beige;
    left: calc(13px - 6.5px);
}

#warrior_arm_left {
    position: absolute;
    right: 48px;
    top: 25%;
    height: 2px;
    width: 20px;
    background-color: rgb(255, 0, 85);
    border: solid black 0.5px;
    transform: rotate(10deg);
}

#warrior_arm_right {
    position: absolute;
    left: 48px;
    top: 25%;
    height: 2px;
    width: 20px;
    background-color: rgb(255, 0, 85);
    border: solid black 0.5px;
    transform: rotate(-10deg);
}

#warrior_leg_left {
    position: absolute;
    left: 4px;
    bottom: 0%;
    height: 2px;
    width: 10px;
    background-color: rgb(255, 0, 85);
    border: solid black 0.5px;
    transform: rotate(-85deg);
}

#warrior_leg_right {
    position: absolute;
    right: 4px;
    bottom: 0%;
    height: 2px;
    width: 10px;
    background-color: rgb(255, 0, 85);
    border: solid black 0.5px;
    transform: rotate(85deg);
}

#warrior_eye_1 {
    position: absolute;
    top: 6px;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: black;
    left: 6px;
}

#warrior_eye_2 {
    position: absolute;
    top: 6px;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: black;
    right: 6px;
}

.bullet {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    top: 0;
    left: 0;
    border-radius: 50%;
}

#warrior2 {
    position: absolute;
    top: 495px;
    height: 50px;
    width: 50px;
    left: 695px;
    border-radius: 50%;
    background-color: rgb(59, 59, 255);
    border: solid black 0.5px;
}

#warrior_mage2 {
    position: absolute;
    background-color: whitesmoke;
    height: 10px;
    width: 30px;
    left: 10px;
    top: 20px;
    border-radius: 50%;
}

#warrior_head2 {
    position: absolute;
    top: -20px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(59, 59, 255);
    left: calc(25px - 12.5px);
    border: solid black 0.5px;
}

#warrior_mouth2 {
    position: absolute;
    bottom: 3px;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: beige;
    left: calc(13px - 6.5px);
}

#warrior_arm_left2 {
    position: absolute;
    right: 48px;
    top: 25%;
    height: 2px;
    width: 20px;
    background-color: rgb(59, 59, 255);
    border: solid black 0.5px;
    transform: rotate(10deg);
}

#warrior_arm_right2 {
    position: absolute;
    left: 48px;
    top: 25%;
    height: 2px;
    width: 20px;
    background-color: rgb(59, 59, 255);
    border: solid black 0.5px;
    transform: rotate(-10deg);
}

#warrior_leg_left2 {
    position: absolute;
    left: 4px;
    bottom: 0%;
    height: 2px;
    width: 10px;
    background-color: rgb(59, 59, 255);
    border: solid black 0.5px;
    transform: rotate(-85deg);
}

#warrior_leg_right2 {
    position: absolute;
    right: 4px;
    bottom: 0%;
    height: 2px;
    width: 10px;
    background-color: rgb(59, 59, 255);
    border: solid black 0.5px;
    transform: rotate(85deg);
}

#warrior_eye_12 {
    position: absolute;
    top: 6px;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: black;
    left: 6px;
}

#warrior_eye_22 {
    position: absolute;
    top: 6px;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: black;
    right: 6px;
}

.bullet2 {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}

#winner {
    position: absolute;
    left: calc(50vw - 400px);
    width: 800px;
    height: 600px;
    display: none;
    text-align: center;
    color: white;
    font-size: 5em;
    font-family: fantasy;
    margin-top: 100px;
}

#omstart {
    position: absolute;
    top: 50vh;
    left: 50vw;
    display: none;
}
